* {
  box-sizing: border-box;
}

body {
  font-family: 'Avenir', sans-serif;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.menu ul {
display: flex;
list-style: none;
margin: ;
word-spacing:;
}

.menu li a{
  margin-right: 40px;
  text-decoration: none;
  color: white;
}

.header{
  color: white;
  background-image: url(images/bg.jpeg);
}

.header h1{
  padding: 240px 0;
  margin: 0;
  font-size: 72px;
  font-weight: 300;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.about {
  background: #F2F0F7;
  padding: 60px 0;
}

.wrapper {
  display: flex;
  width: 960px;
  margin: 0 auto;
  justify-content: space-between;
}

.left {
  width: 40%;
}

.right {
  width: 60%;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 48%;
}

.card img {
  width: 100%;
  height: auto;
}

.num{
  width: 30%;
}

.num h3{
  color: #999999;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
  margin-bottom: 10px;
}

.num p{
  font-size: 36px;
  font-weight: 300;
  margin: 0;
  letter-spacing: 2px;
}











